.root {
    -fx-background-color: #565079;
    background-color: #565079;
}

.label {
    -fx-font-size: 18px;
    font-size: 18px;
    -fx-text-fill: #333333;
}

#homepagetitle{
    -fx-font-weight: bold;
    -fx-font-size: 50px;
    -fx-text-fill: white;
}

.button {
    -fx-font-size: 16px;
    font-size: 16px;
    -fx-background-color: #007ACC;
    background-color: #007ACC;
    font-size: 16px;
    -fx-text-fill: #ffffff;
}

#saveContainer, #uploadContainer{
    -fx-background-color: #9593a3;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
    -fx-border-style: solid;
}

#resultContainer{
    -fx-background-color: #9593a3;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
    -fx-border-style: solid;
    -fx-text-fill: #ffffff;
    -fx-alignment: center-left;
    -fx-text-alignment: left;  
}


#statsContainer{

}

#uploadTitle, #saveTitle, #resultTitle {
    -fx-font-weight: bold;
    -fx-background-color: #007ACC;
    -fx-border-width: 0.5px 0 0 0;
    -fx-border-color: black;
    -fx-text-fill: #ffffff;
}


#solutionResult, #attemptsResult, #timeResult{
    -fx-font-weight: bold;
    -fx-padding: 0 0 12px 0;
}