.root {
    -fx-background-color: #f0f0f0;
}

.label {
    -fx-font-size: 18px;
    -fx-text-fill: #333333;
}

.button {
    -fx-font-size: 16px;
    -fx-background-color: #007ACC;
    -fx-text-fill: #ffffff;
}