.root {
    -fx-background-color: black;
    background-color: black;
}

.label {
    -fx-font-size: 18px;
    font-size: 18px;
    -fx-text-fill: #333333;
}

#homepagetitle{
    -fx-font-weight: bold;
    -fx-font-size: 50px;
    -fx-text-fill: white;
}

.button {
    -fx-font-size: 16px;
    font-size: 16px;
    -fx-background-color: #007ACC;
    background-color: #007ACC;
    font-size: 16px;
    -fx-text-fill: #ffffff;
}

#saveContainer{
    -fx-background-color: #9593a3;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
    -fx-border-style: solid;
}


#uploadContainer{
    -fx-background-color: #9593a3;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
    -fx-border-style: solid;
}

#statsContainer{

}

#containerTitle {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #007ACC;
    -fx-border-width: 0.5px 0 0 0;
    -fx-border-color: black;
}